<a href="https://colab.research.google.com/github/obinnaugbor/python/blob/master/MyPractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
s = "12:05:45AM"


slist = s.split(":")
print(slist)



if "P" in s:
  slist[0] = str(int(slist[0])%12)
  

else:
	print(s[0:-2])


sjoin = ":".join(slist)
print(sjoin)

SyntaxError: ignored

In [ ]:
    arr = [0, 1, 4, 3, 6, 2, 5]
    sarr=arr.sort()
    arrl = len(arr)
    mede = int((arrl+1)/2)
    print (arr[mede-1])

3

In [ ]:
arr = [0, 1, 2, 3, 4, 5, 4, 3, 2, 1, 0]
counter = []

for x in range(min(arr), max(arr)+1):
  if x in arr:
    arr.remove(x)
    if x not in arr:
      print(x)  
    else:
      arr.remove(x)

5

In [ ]:
n=3
sum_f = 0
sum_b = 0
for i in range(n):
  sum_f = sum_f + arr[i,i]
  sum_b = sum_b + sum_b[i,max-i-1]

return abs(sum_f - sum_b)

0 0
0 2
1 1
1 1
2 2
2 0

In [ ]:
arr = [10, 9, 1, 2, 3, 4, 100, 5, 9, 8, 4, 3, 2, 1, 10, 0, 9, 0 , 0, 100]
counter = [0 for i in range(0, 101)]

for x in range(min(arr), max(arr)+1):
  while x in arr:
    counter[x] += 1
    arr.remove(x)

print(counter)

[3, 2, 2, 2, 2, 1, 0, 0, 1, 3, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2]

In [ ]:
a='photo.jpg, Warsaw, 2013-09-05 14:08:15'
b= a.split(',')
b
c=b[0].split('.')
c
b[0]=c[1]
b

['jpg', ' Warsaw', ' 2013-09-05 14:08:15']

In [ ]:
for [0 for i in range(0, 100)]:
  print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100